*{
margin:0;
padding:0;
box-sizing:border-box;
}


:root{

--black:#0B0B0B;
--graphite:#161616;
--white:#F7F7F7;
--gray:#BEBEBE;
--champagne:#C6B18B;

}


html{
scroll-behavior:smooth;
}


body{

background-color:var(--black);
color:var(--white);
font-family:'Montserrat',sans-serif;

}


section{

padding:100px 10%;

}


h1{

font-family:'Syne',sans-serif;
font-size:6rem;
line-height:1;

}


h2{

font-family:'Space Grotesk',sans-serif;
margin-bottom:25px;
color:var(--champagne);

}


p{

line-height:1.8;

}



/* MENU */

.navbar{

position:fixed;
top:0;
width:100%;

display:flex;
justify-content:space-between;
align-items:center;

padding:25px 10%;

background-color:rgba(11,11,11,.90);

backdrop-filter:blur(10px);

z-index:1000;

}


.navbar h3{

font-family:'Syne',sans-serif;

}


.navbar ul{

display:flex;
gap:30px;
list-style:none;

}


.navbar a{

color:white;
text-decoration:none;
transition:.3s;

}


.navbar a:hover{

color:var(--champagne);

}



/* HERO */

.hero{

padding-top:180px;

min-height:100vh;

display:flex;
justify-content:space-between;
align-items:center;

gap:80px;

}


.hero h2{

margin-top:20px;

}


.quote{

margin-top:20px;
color:var(--gray);

}


.hero-image img{

width:520px;
max-width:100%;
height:auto;

filter:drop-shadow(0px 0px 45px rgba(198,177,139,.35));

animation:floating 6s ease-in-out infinite;

}



/* BOTÕES */

.buttons{

margin-top:40px;

}


.btn-primary,
.btn-secondary{

padding:15px 30px;

border-radius:50px;

text-decoration:none;

transition:.3s;

}


.btn-primary{

background-color:var(--champagne);
color:black;
margin-right:15px;

}


.btn-primary:hover{

transform:translateY(-3px);

}


.btn-secondary{

border:1px solid white;
color:white;

}


.btn-secondary:hover{

background-color:white;
color:black;

}



/* SEÇÕES */

#sobre,
#eventos,
#videos,
#contato{

background-color:var(--graphite);

border-radius:25px;

margin-bottom:25px;

}



/* CARDS */

.cards{

display:flex;
flex-wrap:wrap;
gap:20px;

}


.card{

padding:20px 25px;

background-color:#202020;

border-radius:15px;

transition:.3s;

}


.card:hover{

background-color:var(--champagne);
color:black;
transform:translateY(-5px);

}



/* FOOTER */

footer{

text-align:center;
padding:40px;
color:var(--gray);

}



/* BOTÃO VOLTAR AO TOPO */

#topBtn{

position:fixed;

right:25px;
bottom:25px;

width:55px;
height:55px;

border:none;
border-radius:50%;

background-color:var(--champagne);

cursor:pointer;

display:none;

font-size:20px;

box-shadow:0 0 20px rgba(198,177,139,.4);

z-index:1000;

}



/* ANIMAÇÃO DA FOTO */

@keyframes floating{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-12px);
}

100%{
transform:translateY(0);
}

}



/* RESPONSIVO */

@media(max-width:900px){

.hero{

flex-direction:column;
text-align:center;

}

h1{

font-size:4rem;

}

.hero-image img{

width:320px;

}

.navbar{

flex-direction:column;
gap:15px;

}

}
